.PostHeader {
    display: flex;
    justify-content: space-between;
}

.createButton {
    color: #008080;
    padding: 10px;
    border: 1px solid #008080;
    border-radius: 10px;

}

.btn-edit-css {
    color: #008080;
    border: 1px solid #008080;
    border-radius: 10px;
    padding: 10px;
    width: 65px;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-delete-css {
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
}


.text-info-spinner{
    color: #008080 !important;
margin-top: 200px;
   
}
.button-display {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-around; */
}

.overlay-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it's above other elements */
  
}

.add-overlayBg{
    background:#00808045;
    z-index: 10;
}