.overlay-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
}
.text-info-spinner1{
    margin-top: 0px !important;
    color: #008080 !important;
}

.addborder{
    border-radius: 10px;
    border: 2px solid #008080;
    margin: auto;
    margin-top: 150px;
    padding: 50px;
    max-width: 370px;
    width: 100%;
}

.btn-submit-css {
    color: black;
    border: 1px solid #008080;
    border-radius: 10px;
    padding: 10px;
    background-color: #008080;
    margin-left: 60px;
    margin-top: 10px;

}
